*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.main{
    background-color: white;
    opacity:0.79;
    width: 40%;
    height: 200%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 15px;
}